---
import MarkdownSection from "../content/MarkdownSection.astro";
---

<section id="conclusiones" class="relative py-16 md:py-24" aria-labelledby="conclusiones-titulo">
  <div class="container-page">
    <div class="mx-auto max-w-3xl">
      <MarkdownSection slug="conclusions" />
    </div>
  </div>
</section>
