---
import MarkdownSection from "../content/MarkdownSection.astro";
---

<section
  id="intro"
  class="relative py-16 md:py-24"
  aria-labelledby="intro-titulo"
>
  <div class="container-page">
    <div class="mx-auto max-w-3xl">
      <MarkdownSection slug="intro" />
    </div>
  </div>
</section>
